*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content-flex{
    display: flex; /*define que el contenedor sea frexible*/
    /*width: 400px;*/
    height: 400px;
    border: 3px solid lawngreen;
    margin: 0 auto;
    background: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /* flex-wrap: wrap-reverse;*//* auto ajuste */
}
.contenido{
    width: 100px;
    height: 100px;
    background: greenyellow;
}
.contenido:nth-child(1){
    background: violet;
    
    
}
.contenido:nth-child(2){
    background: powderblue;
    align-self: flex-start;
    
}
.contenido:nth-child(3){
    background: darkkhaki;
    
}
.contenido:nth-child(4){
    background: cornflowerblue;
   
}
.contenido:nth-child(5){
    background: khaki;
    align-self: flex-end;
    
}
.contenido:nth-child(6){
    background: yellow;
    
}
.contenido:nth-child(7){
    background: mediumorchid;

}
.contenido:nth-child(8){
    background: tomato;
    
}
/* lo anteriore es para una resolucion <=500px (MOVILE FIRST*/
/* Utilizando media query para validar al resolucion 700px */
@media screen and (min-width:568px){
    .content-flex{
        flex-direction: column;
    }
    .contenido:nth-child(1){
        align-self: flex-start;
    }
    .contenido:nth-child(2){
        align-self: flex-end;
    }
    .contenido:nth-child(3){
        align-self: flex-start;
    }
    .contenido:nth-child(4){
        align-self: flex-end;
    }
    .contenido:nth-child(5){
        align-self: flex-start;
    }
    .contenido:nth-child(6){
        align-self: flex-end;
    }

    .contenido:nth-child(7){
        align-self: flex-start;
    }
    
    .contenido:nth-child(8){
        align-self: flex-end;
    }

}
/* Utilizando media query para validar al resolucion 800px */
@media screen and (min-width:768px){
    .content-flex{
        flex-direction: column;
    }

    .contenido:nth-child(1){
        align-self: center;
    }
    .contenido:nth-child(2){
        align-self: flex-start;
    }
    .contenido:nth-child(3){
        align-self: flex-end;
    }
    .contenido:nth-child(4){
        align-self: flex-start;
    }
    .contenido:nth-child(5){
        align-self: flex-end;
    }
    .contenido:nth-child(6){
        align-self: flex-start;
    }
    .contenido:nth-child(7){
        align-self: flex-end;
    }
    .contenido:nth-child(8){
        align-self: center;
    }

}
@media screen and (min-width:968px) {
    .content-flex{
        flex-direction: row;
       /* flex-wrap: wrap-reverse;*//* auto ajuste */
    }
    .contenido:nth-child(1){
        align-self: center;
    }
    .contenido:nth-child(2){
        align-self: flex-start;
    }
    .contenido:nth-child(3){
        align-self: flex-end;
    }
    .contenido:nth-child(4){
        align-self: center;
    }
    .contenido:nth-child(5){
        align-self: flex-start;
    }
    .contenido:nth-child(6){
        align-self: center;
    }
    .contenido:nth-child(7){
        align-self: flex-end;
    }
    .contenido:nth-child(8){
        align-self: flex-start;
    }
}