*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content-flex{
    display: flex; /*define que el contenedor sea frexible*/
    /*width: 400px;*/
    height: 300px;
    border: 3px solid lawngreen;
    margin: 0 auto;
    background: black;
    flex-direction: column;
   /* flex-wrap: wrap-reverse;*//* auto ajuste */
}
.contenido{
    width: 100px;
    height: 100px;
    background: greenyellow;
}
.contenido:nth-child(1){
    background: violet;
    order: 3;
}
.contenido:nth-child(2){
    background: powderblue;
    order: 5;
}
.contenido:nth-child(3){
    background: darkkhaki;
    order: 4;
}
.contenido:nth-child(4){
    background: cornflowerblue;
    order: 1;
}
.contenido:nth-child(5){
    background: khaki;
    order: 6;
}
.contenido:nth-child(6){
    background: yellow;
    order: 2;
}
/* lo anteriore es para una resolucion <=500px (MOVILE FIRST*/
/* Utilizando media query para validar al resolucion 700px */
@media screen and (min-width:700px) {
    .content-flex{
        flex-direction: row;
       /* flex-wrap: wrap-reverse;*//* auto ajuste */
    }
    .contenido:nth-child(1){
        order: 1;
        flex-grow: 2;
    }
    .contenido:nth-child(2){
        order: 2;
        flex-grow: 0;
    }
    .contenido:nth-child(3){
        order: 3;
        flex-grow: 0;
    }
    .contenido:nth-child(4){
        order: 4;
        flex-grow: 0;
    }
    .contenido:nth-child(5){
        order: 5;
        flex-grow: 0;
    }
    .contenido:nth-child(6){
        order: 6;
        flex-grow: 4;
    }
}
/* Utilizando media query para validar al resolucion 800px */
@media screen and (min-width:900px) {
    .content-flex{
        flex-direction: row;
       /* flex-wrap: wrap-reverse;*//* auto ajuste */
    }
    .contenido:nth-child(1){
        order: 3;
        flex-grow: 2;
    }
    .contenido:nth-child(2){
        order: 6;
        flex-grow: 1;
    }
    .contenido:nth-child(3){
        order: 1;
        flex-grow: 0;
    }
    .contenido:nth-child(4){
        order: 4;
        flex-grow: 0;
    }
    .contenido:nth-child(5){
        order: 2;
        flex-grow: 0;
    }
    .contenido:nth-child(6){
        order: 5;
        flex-grow: 0;
    }
}
@media screen and (min-width:1200px) {
    .content-flex{
        flex-direction: row;
       /* flex-wrap: wrap-reverse;*//* auto ajuste */
    }
    .contenido:nth-child(1){
        order: 6;
        flex-grow: 0;
    }
    .contenido:nth-child(2){
        order: 1;
        flex-grow: 1;
    }
    .contenido:nth-child(3){
        order: 5;
        flex-grow: 2;
    }
    .contenido:nth-child(4){
        order: 2;
        flex-grow: 1;
    }
    .contenido:nth-child(5){
        order: 3;
        flex-grow: 0;
    }
    .contenido:nth-child(6){
        order: 4;
        flex-grow: 0;
    }
}